{% extends 'base.html' %}

{% block title %}Página Principal - Biblioteca{% endblock %}

{% block content %}

<!-- Botões principais -->
<h1>Bem-vindo à Biblioteca</h1>

<div class="btn-group" role="group">
    <a href="{{ url_for('books.create') }}" class="btn btn-success">Novo Livro</a>
    <a href="{{ url_for('users.create') }}" class="btn btn-success">Novo Usuário</a>
</div>

<hr>

<!-- Listar Livros -->
<h2>Livros</h2>
{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('books.edit', book_id=book['id']) }}">
                    #{{ book['id'] }} — <strong>{{ book['title'] }}</strong>
                </a> — {{ book['author'] }}
                <span class="badge {% if book['is_loaned'] %}badge-warning{% elif not book['available']%}badge-danger{% else %}badge-success{% endif %}">
                    {% if book['is_loaned'] %}
                        <span class="badge badge-warning">Emprestado</span>

                    {% elif not book['available'] %}
                        <span class="badge badge-danger">Indisponível</span>

                    {% else %}
                        <span class="badge badge-success">Disponível</span>
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum livro cadastrado.</p>
{% endif %}

<hr>

<!-- Listar Usuários -->
<h2>Usuários</h2>
{% if users %}
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('users.edit', user_id=user.id) }}">
                    <strong>{{ user['name'] }}</strong>
                </a>
                <a href="{{ url_for('users.user', user_id=user.id) }}" class="btn btn-info btn-sm">Ver empréstimos</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum usuário cadastrado.</p>
{% endif %}

<hr>

<!-- Livros Emprestados -->
<h2>Livros Emprestados</h2>
{% if loans %}
    <ul>
        {% for loan in loans %}
            <li>
                <strong>{{ loan['title'] }}</strong> — {{ loan['author'] }} (Emprestado por: {{ loan['user_name'] }})
                <form action="{{ url_for('loans.return_book_route', user_id=loan['user_id'], book_id=loan['book_id']) }}" method="post" style="display:inline;">
                    <button type="submit">Devolver</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Não há livros emprestados no momento.</p>
{% endif %}


{% endblock %}
